$montserrat: "Montserrat", sans-serif;

$buttons-gradient: linear-gradient(to right, #02D8F8, #33e0ff);
$component-color: linear-gradient(45deg, rgba(30, 30, 75, 0.2), rgba(42, 27, 84, 0.2));
$sidebar-color: linear-gradient(to right, rgba(30, 30, 75, 0.3), rgba(42, 27, 84, 0.3));
$bottommenu-color: linear-gradient(to top, rgba(30, 30, 75, 1), rgba(42, 27, 84, 1));

$primary-color: #02D8F8;
$background-dark: #2e2e50;
$text-light: #ffffff;
$text-secondary: #ffffff;
$error-color: #ff4444;
$border-radius: 12px;